@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-base text-text-primary font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 9999px;
}

